body {
  background-color: lightskyblue;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5px;
}

.item {
  height: 300px;
  width: 300px;
  background-color: fuchsia;
  border-radius: 20px;
  margin: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;;
  overflow: hidden;
  background-color: #333333;
  height: 50px;
}

.title {
  font-weight: bold;
  font-size: large;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: black;
}

.navbar .right {
  float: right;
  background-color: rgb(4, 128, 4);
}