.app {
  background-color: lightskyblue;
}

.message {
  height: 300px;
  width: 300px;
  background-color: fuchsia;
  border-radius: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;;
  overflow: hidden;
  background-color: #333333;
}

.navbar li {
  float: left;
}

.navbar li h3 {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: black;
}